<div class="selector-pane carbon-background">

  <button class="mbutton yellow sprite-upload" (click)="openSpriteUploader()" type="button"><span>Click Here To Upload Your Sprite Sheet</span></button>

  <div class="tile-selector-canvas">
    <canvas #tileSelectorCanvas
            [height]="tileSelectorHeight"
            [width]="tileSelectorWidth"
            [style.margin-left]="tileSelectorMargin">
    </canvas>
  </div>

</div>

<input #spriteUploader
       type="file"
       style="display: none;"
       (change)="importSpritesheet($event)"/>




