<div *ngIf="!hidden"
     class="cover"
     [ngClass]="{ dimmer : !closing, translucent : closing }">
</div>

<div *ngIf="!hidden"
     class="modal"
     [ngClass]="{ 'modal-opening' : opening, 'modal-finalized' : !opening, translucent : closing }">

  <div id="map-settings" class="header text">Map Settings</div>
  <div class="container container-map">
    <div class="option text"># Tiles Wide</div>
    <select class="selector">
      <option #tilesWideOption
              *ngFor="let val of selectorOptions; let i = index">
        {{ i }}
      </option>
    </select>
  </div>
  <div class="container container-map">
    <div class="option text"># Tiles Tall</div>
    <select class="selector">
      <option #tilesTallOption
              *ngFor="let val of selectorOptions; let i = index">
        {{ i }}
      </option>
    </select>
  </div>

  <div class="header text" id="import-settings">Import Settings</div>
  <div class="container container-import">
    <div class="option text option-import"># Pixels Wide</div>
    <select class="selector">
      <option #pixelsWideOption
              *ngFor="let val of selectorOptions; let i = index">
        {{ i }}
      </option>
    </select>
  </div>
  <div class="container container-import">
    <div class="option text option-import"># Pixels Tall</div>
    <select class="selector">
      <option #pixelsTallOption
              *ngFor="let val of selectorOptions; let i = index">
        {{ i }}
      </option>
    </select>
  </div>

  <div class="button-panel">
    <input id="cancel-button"
           type="button"
           value="Cancel"
           (click)="closeModal()"/>
    <input type="button"
           value="Apply"
           (click)="applySettings()"/>
  </div>

</div>
