.cover {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 9999;
  background-color: black;
  transition: opacity 1s;
}

.dimmer {
  opacity: 0.6;
}

.translucent {
  opacity: 0;
}

.modal {
  z-index: 10000;

  width: 33vw;
  height: 50vh;

  position: fixed;
  left: calc(50% - 33vw / 2 + 10%);
  top: calc(30vh - 30vh / 2);

  background-color: #1e1e1e;
  border: 3px solid rgb(157, 157, 157);
  border-radius: 8px;

  transition: opacity 900ms;
}

.modal-opening {
  opacity: 0;
}

.modal-finalized {
  opacity: 1;
}

.text {
  color: rgb(157, 157, 157);
}

.header {
  margin-bottom: 15px;
  text-align: center;
  font-size: 32px;
  user-select: none;
}

.option {
  margin-top: 3px;
  width: 20%;
}

.option-import {
  font-size: 14px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.container-map {
  margin-left: 6%;
}

.container-import {
  margin-left: 6%;
}

.selector {
  width: 59%;
  padding-left: 10px;
  margin-bottom: 5px;
}

#map-settings {
  margin-top: 45px;
}

#import-settings {
  margin-top: 30px;
}

.button-panel {
  position: absolute;
  bottom: 10px;
  right: 13px;
}

#cancel-button {
  margin-right: 3px;
}
