<div class="workspace-pane metal-background">

  <div [ngClass]="{ 'semi-translucent' : !displayDrawingBoard }"
       class="canvas-current-selection">
    <canvas #selectedTileCanvas
            [width]="selectedTileCanvasWidth"
            [height]="selectedTileCanvasHeight">
    </canvas>
  </div>

  <drawing-board [ngClass]="{ 'semi-translucent' : !displayDrawingBoard }"
                 class="drawing-board">
  </drawing-board>

  <control-panel class="button-panel"
                 [ngClass]="{ 'skew-button-panel' : settingsExpanded }"
                 (drawerToggle)="formatSettingsPanel($event)">
  </control-panel>

</div>
