/* Positioning */

.wrench {
  margin-bottom: 8px !important;
}

.content {
  display: none;
}

/* Disk Orb */

.disk-orb{
  position: absolute;
  top: calc(15%);
  left: calc(50% - 32px);

  z-index: 100;
}

/* Wrench Orb */

.wrench-orb{
  position: absolute;
  top: calc(60%);
  left: calc(50% - 32px);
  z-index: 100;
}

/* Drawer */

.drawer {
  position: absolute;

  height: 80px;
  width: 20px;
  right: -10px;

  background-color: black;

  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;

  cursor: w-resize;

  -webkit-transition: width .2s, height .2s;
}

.expand-drawer {
  width: 80px;
  height: 200px;
}

/* Orb */

.text {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-70%);

  color: white;

  user-select: none;
}
