<div class="selector-pane carbon-background">

  <button class="mbutton yellow" (click)="openSpriteUploader()" type="button"><span>Click Here To Upload Your Sprite Sheet</span></button>

  <div style="text-align: center;">
    <input [(ngModel)]="tileWidth" class="input-box" type="text" placeholder="Tile Width (px)"/>
    <input [(ngModel)]="tileHeight" class="input-box" type="text" placeholder="Tile Height (px)"/>
  </div>

  <div class="tile-selector-canvas">
    <canvas #tileSelectorCanvas
            [height]="tileSelectorHeight"
            [width]="tileSelectorWidth"
            [style.margin-left]="tileSelectorMargin">
    </canvas>
  </div>

</div>

<input #spriteUploader
       type="file"
       style="display: none;"
       (change)="importSpritesheet($event)"/>




